.bodyBackground{
    background: rgba(13,55,117,1);
    opacity: 1;
    overflow: hidden;
    height: 133%;
    width: 133%;
}

h1{
    font-size: 100;
    position: absolute;
    left: 55%;

} 

.titleStyle{
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 15%;
    left: 32%;
    font-family: Joti One;
    font-weight: Regular;
    font-size: 55px;
    opacity: 1;
}

#thisOutput{
border: solid;
height:120px;
overflow:scroll;
overflow-x:hidden;

}

#number1{
    width: 30%;
    height: 15%;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 10%;
    border: 3px solid rgba(0,0,0,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    font-size:120px;
}
#number2{
    width: 30%;
    height: 15%;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    border: 3px solid rgba(0,0,0,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    font-size:120px;
}
#number3{
    width: 30%;
    height: 15%;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 90%;
    border: 3px solid rgba(0,0,0,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    font-size:120px;
}

#counter{
    position: absolute;
    top: 380px;
    left:600px;
    font-size: 20px;
    Color:white;
}

#thisOutput{
    color:rgba(255, 255, 255, 1);
	opacity:1;
    height:150px;
    width:300px;
	font-family:Joti One;
	text-align:center;
	font-size:25px;
    letter-spacing:0;
    position: absolute;
    top: 420px;
    left: 550px;
}

#submit{
    width: 174px;
    height: 37px;
    background: url("../images/v1_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 9px 0px;
    margin: 1px;
    opacity: 1;
    position: absolute;
    top: 600px;
    left: 534px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
}

#giveUp{
    width: 174px;
    height: 37px;
    background: rgba(242,129,35,1);
    padding: 9px 0px;
    margin: 1px;
    opacity: 1;
    position: absolute;
    top: 600px;
    left: 720px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
}

button{
    width: 54px;
    color: rgba(255,255,255,1);
    position: absolute;
    font-family: Joti One;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}

