* {
    padding: 0 !important;
    margin: 0 !important;
  }

.bodyBackground{
    background: rgba(13,55,117,1);
    opacity: 1;
    overflow: hidden;
    height: 133%;
    width: 133%;
}

.fa-arrow-circle-left{
    position: absolute;
    font-size: 100px;
    left: 9%;
    top: 6%;
}

h1{
    font-size: 250px;
    position: absolute;
    left: 33%;
    top: 3%;
    font-family: Joti One;
    font-weight: Regular;
} 

.titleStyle{
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 24%;
    left: 28%;
    font-family: Joti One;
    font-weight: Regular;
    font-size: 75px;
    opacity: 1;
}

#thisOutput{
border: solid;
height:120px;
overflow:scroll;
overflow-x:hidden;
font-family: Joti One;
font-weight: Regular;
}

#number1{
    width: 30%;
    height: 15%;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 32%;
    left: 10%;
    border: 3px solid rgba(0,0,0,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    font-size:120px;
    font-family: Joti One;
    font-weight: Regular;
    text-align: center;
}
#number2{
    width: 30%;
    height: 15%;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 32%;
    left: 50%;
    border: 3px solid rgba(0,0,0,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    font-size:120px;
    font-family: Joti One;
    font-weight: Regular;
    text-align: center;
}
#number3{
    width: 30%;
    height: 15%;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 32%;
    left: 90%;
    border: 3px solid rgba(0,0,0,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    font-size:120px;
    font-family: Joti One;
    font-weight: Regular;
    text-align: center;
}

#counter{
    position: absolute;
    top: 52%;
    left:19%;
    font-size: 70px;
    Color:white;
    font-family: Joti One;
    font-weight: Regular;
}

#thisOutput{
    color:rgba(255, 255, 255, 1);
	opacity:1;
    height:300px;
    width:500px;
	font-family:Joti One;
	text-align:center;
	font-size:40px;
    letter-spacing:0;
    position: absolute;
    top: 62%;
    left: 40%;
    font-family: Joti One;
    font-weight: Regular;
}


#submit{
    width: 400px;
    height: 200px;
    background: rgba(242,129,35,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 9px 0px;
    margin: 1px;
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 70%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
}

#giveUp{
    width: 400px;
    height: 200px;
    background:url("../images/v1_21.png"); 
    padding: 9px 0px;
    margin: 1px;
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 20%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
}

button{
    width: 54px;
    color: rgba(255,255,255,1);
    position: absolute;
    font-family: Joti One;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: center;
}

