h1{
    text-align: center;
    font-size: 100;
} 

#container{
    display:table;
    margin: 0 auto;
}

#thisOutput{
border: solid;
height:120px;
overflow:scroll;
overflow-x:hidden;

}
input{
    font-size: 100;
}


button{
    font-size: 50;
}